@model FitApp.Models.Food

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="userform">
    <h3>Dodaj produkt</h3>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            @Html.LabelFor(u => u.FoodName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(u => u.FoodName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.FoodName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.LabelFor(u => u.Calories, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(u => u.Calories, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Calories, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.LabelFor(u => u.Fat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(u => u.Fat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Fat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.LabelFor(u => u.Proteins, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(u => u.Proteins, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Proteins, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.LabelFor(u => u.Carbs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(u => u.Carbs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Carbs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <input type="submit" value="Dodaj jedzenie" class="submitbutton" />
        </div>

    </div>

    }

</div>


