@model IEnumerable<FitApp.Models.TaskHistory>

@{
    ViewBag.Title = "History";
}

<h2>Historia</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealizationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChallengeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChallengeName)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealizationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengeName)
        </td>

    </tr>
}

</table>
