@model IEnumerable<FitApp.Models.Training>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista moich treningów</h2>
<p>
    @Html.ActionLink("Dodaj trening", "Add", null, new { @class = "btn btn-info" })
    @if (@ViewBag.uType == "admin")
    {
        @Html.ActionLink("Zarządzaj przykładowymi ćwiczeniami", "List", new { Controller = "ExerciseAdmin" }, new { @class = "btn btn-warning" })
       
    }
    @if (@ViewBag.uType == "admin")
    {
        @Html.ActionLink("Treningi użytkowników", "UserTrainings", null, new { @class = "btn btn-warning" })
    }
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrainingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BurnedCalories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseCount)
        </th>
        <th></th>
    </tr>
    
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @item.TrainingName
            </td>
            <td>
                @item.TrainingTime.ToShortDateString()
            </td>
            <td>
                @item.BurnedCalories
            </td>
            <td>
                @item.ExerciseCount
            </td>
            <td>
                @Html.ActionLink("Usuń", "Delete", new { Id = item.Id}, new { @class = "btn btn-danger" })
                <br />
                @Html.ActionLink("Edytuj","Edit",new { Id = item.Id}, new { @class = "btn btn-primary"})
                <br />
                @Html.ActionLink("Ćwiczenia","List","Exercise", new { Id = item.Id}, new { @class = "btn btn-success"})
            </td>
        </tr>
    }
</table>

